body  {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
  background-color: rgba(31, 208, 171, 0.2);
}

.title  {
  display: flex;
  justify-content: center;
  background-image: url("img/title_bg.jpg");
}

h1  {
  color: rgb(255, 255, 255);
}

h3  {
  font-family: 'Gloria Hallelujah', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  background-image: url("img/bg.jpg");
  padding: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 320px;
  padding-left: 30px;
  padding-right: 30px;
}

/*http://stackoverflow.com/questions/8708945/how-to-position-text-over-an-image-in-css*/
p {
  color: rgb(255, 255, 255);
  z-index: 100;
  position: absolute;
  cursor: pointer;
  padding-bottom: 65px;
}

p#swear  {
  font-size: 50px;
  padding-bottom: 85px;
}

img {
  position: absolute;
  height: 240px;
  width: 240px;
  border: 20px solid rgb(181, 181, 181);
}

.first_line {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.second_line {
  display: flex;
  justify-content: center;
}

input[type=radio] {
  display: none;
}

img:not(#result_img):hover {
  border: 20px solid rgb(228, 207, 94);
  cursor: pointer;
}

img:active {
  border: 20px solid rgb(228, 207, 94);
  cursor: pointer;
}

input[type=radio]:checked ~ img {
  border: 20px solid rgb(228, 207, 94);
  box-shadow: 5px 5px 8px rgb(35, 198, 152);
}

#submit {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 130px;
}

/*button modified from http://cs52.me/lectures/03_css/*/
button {
  border: 0;
  background: rgb(26, 161, 230);
  border-radius: 4px;
  box-shadow: 0 5px 0 rgb(11, 120, 176);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}

button:active {
  box-shadow: 0 2px 0 rgb(13, 131, 193);
  transform: translateY(3px);
}

#warning  {
  display: none;
  justify-content: center;
  color: rgb(241, 81, 82);
}

#result-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#result {
  color: rgb(13, 85, 224);
  background-color: rgb(236, 131, 7);
  border-radius: 5px;
  width: 400px;
  height: 300px;
  padding-top: 10px;
  padding: 50px;
}

#result > p  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding: 50px;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: none;
}

.result-hide {
  display: none;
}

.result-show {
  display: flex;
  justify-content: center;
}

.gif-hide {
  display: none;
}

.gif-show {
  display: flex;
  justify-content: center;
}

#result_img {
  height: 240px;
  width: 240px;
  border: 5px solid rgb(255, 92, 0);
  cursor: none;
}

#a-extra, #b-extra, #c-extra, #d-extra, #e-extra, #f-extra  {
  padding: 30px;
}
